[user]
	email = leonardo.flores@berzerk.com.br
	name = Leonardo Flores
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	tool = nvimdiff
[diff]
	tool = nvimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
